<div class="container container-small">
  <div class="text-center pt-5">
  <img src="leaves.svg" />
  </div>
  <h1 class="text-center pt-5 pb-3">Dziękujemy za odwiedzenie naszej mapy!</h1>
  <p>Mapa jest wciąż w trakcie produkcji. Jeśli chcesz zgłosić zapotrzebowanie na kolejny typ punktów, zgłosić błąd lub skontaktować się z nami, odwiedź nasz profil na <a href="https://www.facebook.com/WrzucTam" target="_blank">Facebooku</a>.</p>
  <h6 class="text-center pt-5">© 2025 Wrzuć Tam. Ostatnia aktualizacja: 22.01.2025r.</h6>
</div>
