@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html {
  @include mat.theme((
    color: (
      primary: mat.$green-palette,
    ),
  ));
}

.container-small.container, .container-small {
  max-width: 720px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
}
