<div class="container container-small">
  <div class="text-center pt-5">
  <img src="leaves.svg" />
  </div>
  <h1 class="text-center pt-5 pb-3">Sortuj śmieci i dbaj o środowisko</h1>
  <p class="border-bottom pb-5">
    Nasza aplikacja to narzędzie stworzone z myślą o środowisku i ułatwieniu
    codziennych decyzji związanych z segregacją odpadów. Dzięki niej szybko
    znajdziesz miejsca, gdzie możesz oddać nietypowe śmieci, takie jak odzież,
    baterie czy urządzenia elektroniczne. Wierzymy, że małe kroki w kierunku
    ekologii mogą przynieść wielkie zmiany, dlatego stworzyliśmy intuicyjną
    platformę, która wspiera zrównoważony styl życia.
  </p>
  <h2 class="text-center pt-3 pb-3">Odzież używana</h2>
  <p class="border-bottom pb-5">Niepotrzebne ubrania możesz oddać do specjalnych pojemników PCK, które są ustawione w wielu lokalizacjach w całej Polsce. Twoja odzież może zyskać drugie życie lub zostać przetworzona w sposób odpowiedzialny.</p>
  <h2 class="text-center pt-3 pb-3">Baterie</h2>
  <p class="border-bottom pb-5">Zużyte baterie muszą być odbierane w każdym miejscu, gdzie są sprzedawane. Możesz je zostawić w marketach i sklepach osiedlowych, takich jak Żabka, Lidl, Biedronka czy Carrefour. Dzięki temu masz pewność, że trafią do właściwego procesu recyklingu.</p>
  <h2 class="text-center pt-3 pb-3">Urządzenia elektroniczne</h2>
  <p>Małe urządzenia elektroniczne, takie jak myszki komputerowe, kable, ładowarki, oddasz we wszystkich sklepach elektronicznych, np.: Media Markt, Media Expert, RTV Euro AGD.</p>
  <p>
    Duże urządzenia, takie jak pralki, lodówki, kuchenki, możesz oddać przy zakupie nowego sprzętu (sprzedawca ma obowiązek odebrać stary).
  </p>
  <p class="border-bottom pb-5">Pozostałe urządzenia należy dostarczyć do punktów PSZOK (Punkt Selektywnej Zbiórki Odpadów Komunalnych), przedstawiając aktualny dowód wpłaty za wywóz śmieci.</p>
  <h2 class="text-center pt-3 pb-3">Żarówki energooszczędne i świetlówki</h2>
  <p class="border-bottom pb-5">Można oddać w sklepach, które sprzedają tego rodzaju produkty.</p>
  <h2 class="text-center pt-3 pb-3">Przeterminowane leki</h2>
  <p class="border-bottom pb-5">Przyjmują apteki wyposażone w specjalne pojemniki na farmaceutyki.</p>
  <h2 class="text-center pt-3 pb-3">Oleje jadalne po użyciu</h2>
  <p class="border-bottom pb-5">Niektóre PSZOK-i i większe markety organizują zbiórki takich odpadów.</p>
  <h2 class="text-center pt-3 pb-3">Opakowania po farbach i lakierach</h2>
  <p class="pb-5">Przyjmowane są w punktach PSZOK.</p>
</div>
