<menu class="px-0 py-3 my-0 border-bottom">
  <div class="container d-flex align-items-center">
    <img src="logo.png" height="40"/>
    <span class="px-3 flex-grow-1">Wrzuć Tam</span>
    <a mat-button routerLink="/" routerLinkActive="router-link-active" selected>Mapa</a>
    <a mat-button routerLink="/o-aplikacji" routerLinkActive="router-link-active">O mapie</a>
    <a mat-button routerLink="/dodaj-punkt" routerLinkActive="router-link-active">Kontakt</a>
  </div>
</menu>

<router-outlet></router-outlet>