@use '@angular/material' as mat;

.search__select {
  display: block;
  position: fixed;
  top: 85px;
  z-index: 999;
  left: 70px;
  background: white;
  padding: 5px 30px 10px;
  border-radius: 35px;
  overflow: hidden;
  @include mat.elevation(2);
}

.search__select ::ng-deep {
  .mat-mdc-text-field-wrapper  {
    background: #fff !important;
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}
